<body>
  <header>
  <h2>Cities</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#" routerLink="/form1/10">form1 10</a></li>
      <li><a href="#" routerLink="/form2">form2</a></li>
      <li><a href="#" routerLink="/display">display</a></li>
      <li><a href="#" routerLink="/hrui/comp1">comp1</a></li>
      <li><a href="#" routerLink="/hrui/comp2">comp2</a></li>
      
    </ul>
  </nav>
  
  <article>
    <router-outlet></router-outlet>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>